html {
    font-size: 12pt;
    font-family: "Trebuchet MS", Times, serif;
}

body {
    margin: 0 0 0 0;
}

ul {
    list-style-type: none;
}


/* Page Titles */

#title {
    color: blue;
    margin: 0 0 0 0;
    text-align: center;
}

#title-container {
    background-color: yellow;
    position: relative;
    padding: 0.5em;
}
